<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string>摘要】2019年中医执业医师资格考试的备考周期已经开始了，人民医学网小编为您准备了一套备考流程，您可以作为参考。当时每个人的实际情况和基础不同，您也应该按照自己的情况做出调整。</string>
		<key>title</key>
		<string>2019年中医执业医师适用备考流程</string>
		<key>url</key>
		<string>http://net.renminyixue.com/NewsInfoShowPage/index.aspx?id=3F34FD78-5B92-4F20-A84F-6D6344DBC10C</string>
	</dict>
	<dict>
		<key>content</key>
		<string>西柚，又称葡萄柚，果肉柔嫩，多汁爽口，是很多人喜欢的水果，街上很多饮品店里也有西柚汁出售。然而，海南省第三人民医院医务部医师提醒：西柚已经被证明会和很多心血管药物发生相互作用，可能影响疗效，增加不良反应，建议正在服用心血管药物的人慎吃。</string>
		<key>title</key>
		<string>医师提醒:西柚好吃 但服用心血管药物患者要慎吃</string>
		<key>url</key>
		<string>http://net.renminyixue.com/NewsInfoShowPage/index.aspx?id=A03922D9-E67D-4A4B-9CA6-C1BF1372839B</string>
	</dict>
	<dict>
		<key>content</key>
		<string>上班族工作压力大，常会喝上几杯咖啡或茶，提振精神，但这会让胃不舒服，导致胃痛，甚至罹患「胃溃疡」、「胃癌」吗？台北荣总胃肠肝胆科主治医师罗景全表示，茶跟咖啡会刺激胃酸分泌，但真正引起胃溃疡的主因，其实是幽门杆菌、消炎止痛药、 菸及酒。</string>
		<key>title</key>
		<string>喝茶、咖啡会胃痛？医师揭胃溃疡4大真凶</string>
		<key>url</key>
		<string>http://net.renminyixue.com/NewsInfoShowPage/index.aspx?id=B6D3196B-B81D-4598-81DA-F36CB4A844E2</string>
	</dict>
	<dict>
		<key>content</key>
		<string>四川新闻网宜宾9月18日讯（杨晓川 曾静）“老人家，你身体没什么问题，记得按时吃药，按时来复诊哈！”9月14日，在翠屏区明威镇卫生院，副院长吴治奎扶着一位老人走出卫生院，并告诉他一些治疗中的注意事项。</string>
		<key>title</key>
		<string>吴治奎：用行动勾勒最美医师 用时间诠释仁心仁术</string>
		<key>url</key>
		<string>http://net.renminyixue.com/NewsInfoShowPage/index.aspx?id=972CA63B-1BF1-4CD5-91DC-67022608E79B</string>
	</dict>
	<dict>
		<key>content</key>
		<string>2018年9月16日，陕西省医师协会口腔医师分会成立大会暨学术讲座在止园饭店举行。来自陕西省各地区口腔医疗机构的会员代表、从事感染控制和口腔临床质量的护理工作人员等六百余人参会。</string>
		<key>title</key>
		<string>陕西省医师协会口腔医师分会成立大会暨学术讲座圆满举行</string>
		<key>url</key>
		<string>http://net.renminyixue.com/NewsInfoShowPage/index.aspx?id=ED58C084-711C-4FE6-BED3-D1EBD4CE674E</string>
	</dict>
	<dict>
		<key>content</key>
		<string>本报讯（记者 王家源）近日，在北京协和医院举行的“2018协和住院医师培训国际论坛”上，中国住院医师培训精英教学医院联盟住院医师核心胜任力框架共识正式发布。教育部党组成员、副部长林蕙青出席会议并讲话。</string>
		<key>title</key>
		<string>我国首个住院医师核心胜任力框架共识发布</string>
		<key>url</key>
		<string>http://net.renminyixue.com/NewsInfoShowPage/index.aspx?id=BFB8261B-7B19-460D-8328-5AAD5C417C55</string>
	</dict>
	<dict>
		<key>content</key>
		<string>2018年广西考区首次组织医师资格考试“一年两试”。</string>
		<key>title</key>
		<string>2018年广西考区加入临床助理医师“一年两试”试点</string>
		<key>url</key>
		<string>http://net.renminyixue.com/NewsInfoShowPage/index.aspx?id=7D04B748-F587-4B4D-B295-801F8C63A832</string>
	</dict>
	<dict>
		<key>content</key>
		<string>医师资格考试报名采用网上报名+现场审核的方式。</string>
		<key>title</key>
		<string>2019年临床助理医师实践技能考试报名方式</string>
		<key>url</key>
		<string>http://net.renminyixue.com/NewsInfoShowPage/index.aspx?id=174C1636-A79A-4A8D-B2AA-4BDD2A72BC6C</string>
	</dict>
	<dict>
		<key>content</key>
		<string>今日，国家卫健委发布《互联网诊疗管理办法(试行)》。办法规定，开展互联网诊疗活动的医师、护士应当能够在国家医师、护士电子注册系统中查询，医疗机构应当对开展互联网网诊疗活动的医务人员进行电子实名认证。</string>
		<key>title</key>
		<string>卫健委：医师开展网上诊疗应具有3年以上独立临床工作经验</string>
		<key>url</key>
		<string>http://net.renminyixue.com/NewsInfoShowPage/index.aspx?id=0C017F40-8474-4970-A79C-B4D25EFC4232</string>
	</dict>
	<dict>
		<key>content</key>
		<string>据南方日报报道，9月6日，从最新一期的政府公报获悉，新一版的《深圳市住院医师规范化培训实施办法》已正式实施。</string>
		<key>title</key>
		<string>深圳出新规：取消医师“定岗定向” 每人每年补助不低于9万元</string>
		<key>url</key>
		<string>http://net.renminyixue.com/NewsInfoShowPage/index.aspx?id=2E83744E-831E-4A75-A4A3-CE7C1D00F9E2</string>
	</dict>
	<dict>
		<key>content</key>
		<string>9月5日，省卫计委医师定期考核和医德考评工作督查组一行3人在扬州市卫计委医政处孙德秋处长的带领下，对我市近三年医师定期考核和医德医风考评工作进行了督导检查。市卫计委副主任张勇、医政处处长张志猛、医学会秘书长徐彬陪同检查。</string>
		<key>title</key>
		<string>省卫计委对我市医师定期考核和医德考评工作</string>
		<key>url</key>
		<string>http://net.renminyixue.com/NewsInfoShowPage/index.aspx?id=9C566C4B-3E23-49B0-9231-44703A0E6C1A</string>
	</dict>
	<dict>
		<key>content</key>
		<string>近日，从市卫生计生委传来好消息：县级以下的医疗机构医师可以注册多个专业。</string>
		<key>title</key>
		<string>河南：县级以下的医疗机构医师可注册多个专业</string>
		<key>url</key>
		<string>http://net.renminyixue.com/NewsInfoShowPage/index.aspx?id=9864B94E-C4C8-4945-A31E-54287AA381A9</string>
	</dict>
	<dict>
		<key>content</key>
		<string>8月31日，笔者从湖南省道县卫计委获悉，为促进临床医师医德医风的建设，提高医师实际工作能力，提升医师业务水平，道县于8月全面进行全县2018年度医师定期考试。</string>
		<key>title</key>
		<string>道县2018年度医师定期考核启用手机APP电子考核系统</string>
		<key>url</key>
		<string>http://net.renminyixue.com/NewsInfoShowPage/index.aspx?id=1F993750-F036-49B0-A678-CB3446796164</string>
	</dict>
</array>
</plist>
