<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>image_path</key>
		<string>https://www.jinyingjie.com/Uploads/Live/5b6e508b553c2.png</string>
		<key>title</key>
		<string>2018中医执业（助理）笔试二试特训营直播课</string>
		<key>writer</key>
		<string>王爽</string>
		<key>time</key>
		<string>2018-08-26</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>image_path</key>
		<string>https://www.jinyingjie.com/Uploads/Live/5b80babc3bf74.png</string>
		<key>title</key>
		<string>2019年中医执业（助理）医师王牌直播课（退费）</string>
		<key>writer</key>
		<string>欧阳锋</string>
		<key>time</key>
		<string>08-19</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>image_path</key>
		<string>https://www.jinyingjie.com/Uploads/Live/5b80ba6cea361.png</string>
		<key>title</key>
		<string>2019年中医执业（助理）医师王牌直播课（重读）</string>
		<key>writer</key>
		<string>欧阳锋</string>
		<key>time</key>
		<string>08-19</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>image_path</key>
		<string>https://www.jinyingjie.com/Uploads/Live/5b14ad7db3bb2.png</string>
		<key>title</key>
		<string>2018年中医执业（助理）王牌直播课（精学版）</string>
		<key>writer</key>
		<string>闫小溪</string>
		<key>time</key>
		<string>08-19</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>image_path</key>
		<string>https://www.jinyingjie.com/Public/JinLive/5a79539846d1a.png</string>
		<key>title</key>
		<string>2019年中医执业（助理）真题再现直播课</string>
		<key>writer</key>
		<string>欧阳锋</string>
		<key>time</key>
		<string>08-19</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>image_path</key>
		<string>https://www.jinyingjie.com/Uploads/Live/5b80ba86665b0.png</string>
		<key>title</key>
		<string>2019年中医执业（助理）医师金鹰直播课</string>
		<key>writer</key>
		<string>欧阳锋</string>
		<key>time</key>
		<string>08-19</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>image_path</key>
		<string>https://www.jinyingjie.com/Uploads/Live/5b80babc3bf74.png</string>
		<key>title</key>
		<string>2019年中医执业（助理）医师王牌直播课（退费）</string>
		<key>writer</key>
		<string>欧阳锋</string>
		<key>time</key>
		<string>08-19</string>
	</dict>
</array>
</plist>
