<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>big_image</key>
		<string>http://m.qpic.cn/psb?/V13Js1iM3urn8H/RMwcAvCmLgRmeNXlGJZ6PzxYpo*kXHALVKV..mE8JH8!/b/dDABAAAAAAAA&amp;bo=7gKkAQAAAAADN1s!&amp;rf=viewer_4</string>
		<key>title</key>
		<string>【预售】2018年执业中药师学习包</string>
		<key>original_price</key>
		<string>1196.00</string>
		<key>currentPrice</key>
		<string>899.00</string>
		<key>writer</key>
		<string>李时珍</string>
		<key>image_path</key>
		<string>http://m.qpic.cn/psb?/V13Js1iM3urn8H/hmNqtlqeHURV2MW3RFk8YdPKtC9phSN6z4K.apGJwX0!/b/dFMBAAAAAAAA&amp;bo=SgFKAQAAAAADByI!&amp;rf=viewer_4</string>
	</dict>
	<dict>
		<key>big_image</key>
		<string>http://m.qpic.cn/psb?/V13Js1iM3urn8H/RMwcAvCmLgRmeNXlGJZ6PzxYpo*kXHALVKV..mE8JH8!/b/dDABAAAAAAAA&amp;bo=7gKkAQAAAAADN1s!&amp;rf=viewer_4</string>
		<key>title</key>
		<string>【现货】冲刺阶段 |2018国家执业药师资格考试中药学综合知识与技能考前全真模拟卷</string>
		<key>original_price</key>
		<string>0</string>
		<key>currentPrice</key>
		<string>59.00</string>
		<key>writer</key>
		<string>李时珍</string>
		<key>image_path</key>
		<string>http://m.qpic.cn/psb?/V13Js1iM3urn8H/hmNqtlqeHURV2MW3RFk8YdPKtC9phSN6z4K.apGJwX0!/b/dFMBAAAAAAAA&amp;bo=SgFKAQAAAAADByI!&amp;rf=viewer_4</string>
	</dict>
	<dict>
		<key>big_image</key>
		<string>http://m.qpic.cn/psb?/V13Js1iM3urn8H/RMwcAvCmLgRmeNXlGJZ6PzxYpo*kXHALVKV..mE8JH8!/b/dDABAAAAAAAA&amp;bo=7gKkAQAAAAADN1s!&amp;rf=viewer_4</string>
		<key>title</key>
		<string>【现货】冲刺阶段|2018国家执业药师资格考试（中药学专业知识一）冲刺金题</string>
		<key>original_price</key>
		<string>299.00</string>
		<key>currentPrice</key>
		<string>382.00</string>
		<key>writer</key>
		<string>李时珍</string>
		<key>image_path</key>
		<string>http://m.qpic.cn/psb?/V13Js1iM3urn8H/hmNqtlqeHURV2MW3RFk8YdPKtC9phSN6z4K.apGJwX0!/b/dFMBAAAAAAAA&amp;bo=SgFKAQAAAAADByI!&amp;rf=viewer_4</string>
	</dict>
	<dict>
		<key>big_image</key>
		<string>http://m.qpic.cn/psb?/V13Js1iM3urn8H/RMwcAvCmLgRmeNXlGJZ6PzxYpo*kXHALVKV..mE8JH8!/b/dDABAAAAAAAA&amp;bo=7gKkAQAAAAADN1s!&amp;rf=viewer_4</string>
		<key>title</key>
		<string>【现货】冲刺阶段|2018年国家执业药师资格考试（中药学专业知识二）冲刺金题</string>
		<key>original_price</key>
		<string>899.00</string>
		<key>currentPrice</key>
		<string>38.00</string>
		<key>writer</key>
		<string>李时珍</string>
		<key>image_path</key>
		<string>http://m.qpic.cn/psb?/V13Js1iM3urn8H/hmNqtlqeHURV2MW3RFk8YdPKtC9phSN6z4K.apGJwX0!/b/dFMBAAAAAAAA&amp;bo=SgFKAQAAAAADByI!&amp;rf=viewer_4</string>
	</dict>
	<dict>
		<key>big_image</key>
		<string>http://m.qpic.cn/psb?/V13Js1iM3urn8H/RMwcAvCmLgRmeNXlGJZ6PzxYpo*kXHALVKV..mE8JH8!/b/dDABAAAAAAAA&amp;bo=7gKkAQAAAAADN1s!&amp;rf=viewer_4</string>
		<key>title</key>
		<string>【现货】冲刺阶段|2018年国家执业药师资格考试（中药学综合知识与技能）冲刺金题</string>
		<key>original_price</key>
		<string>0</string>
		<key>currentPrice</key>
		<string>38.00</string>
		<key>writer</key>
		<string>李时珍</string>
		<key>image_path</key>
		<string>http://m.qpic.cn/psb?/V13Js1iM3urn8H/hmNqtlqeHURV2MW3RFk8YdPKtC9phSN6z4K.apGJwX0!/b/dFMBAAAAAAAA&amp;bo=SgFKAQAAAAADByI!&amp;rf=viewer_4</string>
	</dict>
	<dict>
		<key>big_image</key>
		<string>http://m.qpic.cn/psb?/V13Js1iM3urn8H/RMwcAvCmLgRmeNXlGJZ6PzxYpo*kXHALVKV..mE8JH8!/b/dDABAAAAAAAA&amp;bo=7gKkAQAAAAADN1s!&amp;rf=viewer_4</string>
		<key>title</key>
		<string>【现货】冲刺阶段|2018年国家执业药师资格考试（药事管理与法规）冲刺金题</string>
		<key>original_price</key>
		<string>0</string>
		<key>currentPrice</key>
		<string>38.00</string>
		<key>writer</key>
		<string>李时珍</string>
		<key>image_path</key>
		<string>http://m.qpic.cn/psb?/V13Js1iM3urn8H/hmNqtlqeHURV2MW3RFk8YdPKtC9phSN6z4K.apGJwX0!/b/dFMBAAAAAAAA&amp;bo=SgFKAQAAAAADByI!&amp;rf=viewer_4</string>
	</dict>
	<dict>
		<key>big_image</key>
		<string>http://m.qpic.cn/psb?/V13Js1iM3urn8H/RMwcAvCmLgRmeNXlGJZ6PzxYpo*kXHALVKV..mE8JH8!/b/dDABAAAAAAAA&amp;bo=7gKkAQAAAAADN1s!&amp;rf=viewer_4</string>
		<key>title</key>
		<string>【缺货】启航阶段|2018年国家执业药师考试中药学命中率对比精析</string>
		<key>original_price</key>
		<string>0</string>
		<key>currentPrice</key>
		<string>19.00</string>
		<key>writer</key>
		<string>李时珍</string>
		<key>image_path</key>
		<string>http://m.qpic.cn/psb?/V13Js1iM3urn8H/hmNqtlqeHURV2MW3RFk8YdPKtC9phSN6z4K.apGJwX0!/b/dFMBAAAAAAAA&amp;bo=SgFKAQAAAAADByI!&amp;rf=viewer_4</string>
	</dict>
</array>
</plist>
