<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>period</key>
		<string>321</string>
		<key>title</key>
		<string>2019年中西医执业（助理）医师王牌直播课（退费）</string>
		<key>original_price</key>
		<string>18000.00</string>
		<key>currentPrice</key>
		<string>9888.00</string>
		<key>writer</key>
		<string>欧阳锋</string>
		<key>image_path</key>
		<string>http://m.qpic.cn/psb?/V13Js1iM3urn8H/dBNckrA7EkbOCAffoomYS0qhcBfKN113JAIteMDHAY8!/b/dC4BAAAAAAAA&amp;bo=wAFQAQAAAAADF6I!&amp;rf=viewer_4</string>
	</dict>
	<dict>
		<key>period</key>
		<string>234</string>
		<key>title</key>
		<string>2019年中西医执业（助理）医师王牌直播课（重读）</string>
		<key>original_price</key>
		<string>1196.00</string>
		<key>currentPrice</key>
		<string>6980.00</string>
		<key>writer</key>
		<string>洪七公</string>
		<key>image_path</key>
		<string>http://m.qpic.cn/psb?/V13Js1iM3urn8H/dBNckrA7EkbOCAffoomYS0qhcBfKN113JAIteMDHAY8!/b/dC4BAAAAAAAA&amp;bo=wAFQAQAAAAADF6I!&amp;rf=viewer_4</string>
	</dict>
	<dict>
		<key>period</key>
		<string>123</string>
		<key>title</key>
		<string>2019年中西医执业（助理）医师金鹰直播课</string>
		<key>original_price</key>
		<string>1196.00</string>
		<key>currentPrice</key>
		<string>1280.00</string>
		<key>writer</key>
		<string>黄药师</string>
		<key>image_path</key>
		<string>http://m.qpic.cn/psb?/V13Js1iM3urn8H/dBNckrA7EkbOCAffoomYS0qhcBfKN113JAIteMDHAY8!/b/dC4BAAAAAAAA&amp;bo=wAFQAQAAAAADF6I!&amp;rf=viewer_4</string>
	</dict>
	<dict>
		<key>period</key>
		<string>110</string>
		<key>title</key>
		<string>2018年中西医执业（助理）金鹰直播课</string>
		<key>original_price</key>
		<string>1196.00</string>
		<key>currentPrice</key>
		<string>899.00</string>
		<key>writer</key>
		<string>周伯通</string>
		<key>image_path</key>
		<string>http://m.qpic.cn/psb?/V13Js1iM3urn8H/dBNckrA7EkbOCAffoomYS0qhcBfKN113JAIteMDHAY8!/b/dC4BAAAAAAAA&amp;bo=wAFQAQAAAAADF6I!&amp;rf=viewer_4</string>
	</dict>
	<dict>
		<key>period</key>
		<string>110</string>
		<key>title</key>
		<string>2018年中西医执业(助理)王牌直播课【退费】</string>
		<key>original_price</key>
		<string>1196.00</string>
		<key>currentPrice</key>
		<string>899.00</string>
		<key>writer</key>
		<string>周伯通</string>
		<key>image_path</key>
		<string>http://m.qpic.cn/psb?/V13Js1iM3urn8H/dBNckrA7EkbOCAffoomYS0qhcBfKN113JAIteMDHAY8!/b/dC4BAAAAAAAA&amp;bo=wAFQAQAAAAADF6I!&amp;rf=viewer_4</string>
	</dict>
	<dict>
		<key>period</key>
		<string>110</string>
		<key>title</key>
		<string>2019年中西医执业（助理）真题再现直播课</string>
		<key>original_price</key>
		<string>1196.00</string>
		<key>currentPrice</key>
		<string>899.00</string>
		<key>writer</key>
		<string>周伯通</string>
		<key>image_path</key>
		<string>http://m.qpic.cn/psb?/V13Js1iM3urn8H/dBNckrA7EkbOCAffoomYS0qhcBfKN113JAIteMDHAY8!/b/dC4BAAAAAAAA&amp;bo=wAFQAQAAAAADF6I!&amp;rf=viewer_4</string>
	</dict>
</array>
</plist>
