<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>theme</key>
		<string>在线课程</string>
		<key>course</key>
		<array>
			<dict>
				<key>period</key>
				<string>110</string>
				<key>title</key>
				<string>2018年中西医执业（助理）金鹰直播课</string>
				<key>original_price</key>
				<string>1196.00</string>
				<key>currentPrice</key>
				<string>899.00</string>
				<key>writer</key>
				<string>周伯通</string>
				<key>image_path</key>
				<string>http://image.jinyingjie.com/Public/JinLive/5ab4ba69cfe74.jpg</string>
			</dict>
			<dict>
				<key>period</key>
				<string>123</string>
				<key>title</key>
				<string>2019年中西医执业（助理）医师金鹰直播课</string>
				<key>original_price</key>
				<string>1196.00</string>
				<key>currentPrice</key>
				<string>1280.00</string>
				<key>writer</key>
				<string>黄药师</string>
				<key>image_path</key>
				<string>http://image.jinyingjie.com/Uploads/Live/5b80bbe57dfb7.png</string>
			</dict>
			<dict>
				<key>period</key>
				<string>234</string>
				<key>title</key>
				<string>2019年中西医执业（助理）医师王牌直播课（重读）</string>
				<key>original_price</key>
				<string>1196.00</string>
				<key>currentPrice</key>
				<string>6980.00</string>
				<key>writer</key>
				<string>洪七公</string>
				<key>image_path</key>
				<string>http://image.jinyingjie.com/Uploads/Live/5b80bd8a5d74f.jpg</string>
			</dict>
			<dict>
				<key>period</key>
				<string>321</string>
				<key>title</key>
				<string>2019年中西医执业（助理）医师王牌直播课（退费）</string>
				<key>original_price</key>
				<string>18000.00</string>
				<key>currentPrice</key>
				<string>9888.00</string>
				<key>writer</key>
				<string>欧阳锋</string>
				<key>image_path</key>
				<string>http://image.jinyingjie.com/Uploads/Live/5b80bd9a42015.jpg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>theme</key>
		<string>直播</string>
		<key>course</key>
		<array>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>image_path</key>
				<string>https://www.jinyingjie.com/Uploads/Live/5b80babc3bf74.png</string>
				<key>title</key>
				<string>2019年中医执业（助理）医师王牌直播课（退费）</string>
				<key>writer</key>
				<string>欧阳锋</string>
				<key>time</key>
				<string>08-19</string>
			</dict>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>image_path</key>
				<string>https://www.jinyingjie.com/Uploads/Live/5b6e508b553c2.png</string>
				<key>title</key>
				<string>2018中医执业（助理）笔试二试特训营直播课</string>
				<key>writer</key>
				<string>王爽</string>
				<key>time</key>
				<string>2018-08-26</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>theme</key>
		<string>图书</string>
		<key>course</key>
		<array>
			<dict>
				<key>title</key>
				<string>【现货】冲刺阶段|2018国家执业药师资格考试（中药学专业知识一）冲刺金题</string>
				<key>original_price</key>
				<string>299.00</string>
				<key>currentPrice</key>
				<string>382.00</string>
				<key>writer</key>
				<string>李时珍</string>
				<key>image_path</key>
				<string>http://image.jinyingjie.com/Uploads/bookImages/2018-02/5a72c0ccd8687.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>【现货】冲刺阶段 |2018国家执业药师资格考试中药学综合知识与技能考前全真模拟卷</string>
				<key>original_price</key>
				<string>0</string>
				<key>currentPrice</key>
				<string>59.00</string>
				<key>writer</key>
				<string>李时珍</string>
				<key>image_path</key>
				<string>http://image.jinyingjie.com/Uploads/bookImages/2018-02/5a72bec16fda6.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>【预售】2018年执业中药师学习包</string>
				<key>original_price</key>
				<string>1196.00</string>
				<key>currentPrice</key>
				<string>899.00</string>
				<key>writer</key>
				<string>李时珍</string>
				<key>image_path</key>
				<string>http://image.jinyingjie.com/Uploads/LearnPackage/2018-05/5b04e2629abb4.jpg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>theme</key>
		<string>咨询</string>
		<key>course</key>
		<array>
			<dict>
				<key>content</key>
				<string>上班族工作压力大，常会喝上几杯咖啡或茶，提振精神，但这会让胃不舒服，导致胃痛，甚至罹患「胃溃疡」、「胃癌」吗？台北荣总胃肠肝胆科主治医师罗景全表示，茶跟咖啡会刺激胃酸分泌，但真正引起胃溃疡的主因，其实是幽门杆菌、消炎止痛药、 菸及酒。</string>
				<key>title</key>
				<string>喝茶、咖啡会胃痛？医师揭胃溃疡4大真凶</string>
				<key>url</key>
				<string>http://net.renminyixue.com/NewsInfoShowPage/index.aspx?id=B6D3196B-B81D-4598-81DA-F36CB4A844E2</string>
			</dict>
			<dict>
				<key>content</key>
				<string>上班族工作压力大，常会喝上几杯咖啡或茶，提振精神，但这会让胃不舒服，导致胃痛，甚至罹患「胃溃疡」、「胃癌」吗？台北荣总胃肠肝胆科主治医师罗景全表示，茶跟咖啡会刺激胃酸分泌，但真正引起胃溃疡的主因，其实是幽门杆菌、消炎止痛药、 菸及酒。</string>
				<key>title</key>
				<string>喝茶、咖啡会胃痛？医师揭胃溃疡4大真凶</string>
				<key>url</key>
				<string>http://net.renminyixue.com/NewsInfoShowPage/index.aspx?id=B6D3196B-B81D-4598-81DA-F36CB4A844E2</string>
			</dict>
			<dict>
				<key>content</key>
				<string>西柚，又称葡萄柚，果肉柔嫩，多汁爽口，是很多人喜欢的水果，街上很多饮品店里也有西柚汁出售。然而，海南省第三人民医院医务部医师提醒：西柚已经被证明会和很多心血管药物发生相互作用，可能影响疗效，增加不良反应，建议正在服用心血管药物的人慎吃。</string>
				<key>title</key>
				<string>医师提醒:西柚好吃 但服用心血管药物患者要慎吃</string>
				<key>url</key>
				<string>http://net.renminyixue.com/NewsInfoShowPage/index.aspx?id=A03922D9-E67D-4A4B-9CA6-C1BF1372839B</string>
			</dict>
			<dict>
				<key>content</key>
				<string>摘要】2019年中医执业医师资格考试的备考周期已经开始了，人民医学网小编为您准备了一套备考流程，您可以作为参考。当时每个人的实际情况和基础不同，您也应该按照自己的情况做出调整。</string>
				<key>title</key>
				<string>2019年中医执业医师适用备考流程</string>
				<key>url</key>
				<string>http://net.renminyixue.com/NewsInfoShowPage/index.aspx?id=3F34FD78-5B92-4F20-A84F-6D6344DBC10C</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
