<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nodeId</key>
		<string>6592</string>
		<key>name</key>
		<string>中药学专业知识一</string>
		<key>son</key>
		<string>1</string>
		<key>parentId</key>
		<string>14</string>
		<key>son1</key>
		<array>
			<dict>
				<key>nodeId</key>
				<string>6593</string>
				<key>name</key>
				<string>第1章 中药与方剂</string>
				<key>son</key>
				<string>0</string>
			</dict>
			<dict>
				<key>nodeId</key>
				<string>6593</string>
				<key>name</key>
				<string>第2章 中药材生产与品质</string>
				<key>son</key>
				<string>0</string>
			</dict>
			<dict>
				<key>nodeId</key>
				<string>6593</string>
				<key>name</key>
				<string>第3章 中药化学成分与药效物质基础</string>
				<key>son</key>
				<string>0</string>
			</dict>
			<dict>
				<key>nodeId</key>
				<string>6593</string>
				<key>name</key>
				<string>第4章 中药炮制与饮片质量</string>
				<key>son</key>
				<string>0</string>
			</dict>
			<dict>
				<key>nodeId</key>
				<string>6593</string>
				<key>name</key>
				<string>第5章 中药质量标准和鉴定</string>
				<key>son</key>
				<string>0</string>
			</dict>
			<dict>
				<key>nodeId</key>
				<string>6593</string>
				<key>name</key>
				<string>第6章 中药制剂与剂型</string>
				<key>son</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>nodeId</key>
		<string>6582</string>
		<key>name</key>
		<string>中药学专业知识二</string>
		<key>parentId</key>
		<string>13</string>
		<key>son</key>
		<string>1</string>
		<key>son1</key>
		<array>
			<dict>
				<key>nodeId</key>
				<string>6594</string>
				<key>name</key>
				<string>第1部分</string>
				<key>son</key>
				<string>1</string>
				<key>son1</key>
				<array>
					<dict>
						<key>nodeId</key>
						<string>6596</string>
						<key>name</key>
						<string>中药学专业知识二-第一部分-第1章</string>
						<key>son</key>
						<string>0</string>
					</dict>
					<dict>
						<key>name</key>
						<string>中药学专业知识二-第1部分-第2章</string>
						<key>nodeId</key>
						<string>6595</string>
						<key>son</key>
						<string>0</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>nodeId</key>
				<string>6585</string>
				<key>name</key>
				<string>第二部分</string>
				<key>son</key>
				<string>1</string>
				<key>son1</key>
				<array>
					<dict>
						<key>nodeId</key>
						<string>6586</string>
						<key>name</key>
						<string>中药学专业知识二-第2部分-第1讲(共6讲)</string>
						<key>son</key>
						<string>0</string>
					</dict>
					<dict>
						<key>nodeId</key>
						<string>6586</string>
						<key>name</key>
						<string>中药学专业知识二-第2部分-第2讲(共6讲)</string>
						<key>son</key>
						<string>0</string>
					</dict>
					<dict>
						<key>nodeId</key>
						<string>6586</string>
						<key>name</key>
						<string>中药学专业知识二-第2部分-第3讲(共6讲)</string>
						<key>son</key>
						<string>0</string>
					</dict>
					<dict>
						<key>nodeId</key>
						<string>6586</string>
						<key>name</key>
						<string>中药学专业知识二-第2部分-第4讲(共6讲)</string>
						<key>son</key>
						<string>0</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
